.page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 37, 47);
  margin: 0;
  padding-top: 120px;
  padding-bottom: 50px;
}

.ticker-input {
  padding: 20px;
  width: 300px;
  height: 10px;
  font-size: 20px;
}

.search-button {
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 24, 24);
  color: white;
  height: 50px;
  justify-content: center;
}

.search-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.reports-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.report-container {
  background-color: white;
  color: black;
  border: solid;
  border-color: black;
  border-radius: 20px;
  overflow-x: auto;
  width: fit-content;
  max-width: 75%;
  padding: 20px;
  box-sizing: border-box;
}

.report-container table {
  width: auto !important;
  margin: 0 auto !important;
}

.input-container {
  margin-top: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100vw;
  padding: 20px;
}

.company-logo {
  width: 240px;
}

.company-name {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
  margin: 0;
}

.company-ticker {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}
.statement-header {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  width: 100%;
}
