.header-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: black;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(26, 37, 47, 0.4); 
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);

  border-radius: 16px;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-item {
  color: beige;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  font-weight: 300;
  font-size: 18px;
  margin-right: 30px;
  margin-left: 15px;
}

.navbar-item:hover {
  cursor: pointer;
  opacity: 0.85;
}

.items-left {
  display: flex;
  flex-direction: row;
}

.items-right {
  display: flex;
  flex-direction: row;
}
