@import url("https://fonts.cdnfonts.com/css/alliance-no-2");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: rgb(26, 37, 47);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Alliance No 2", sans-serif;
}
